body {
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    color: rgb(0, 0, 0);
}

.header {
    grid-area: hd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 212, 212);
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
    grid-area: main;
    padding: 10px;
    line-height: 14vh;
    background-color: rgb(255, 248, 227);
    gap: 10px;

}

.content {
    grid-area: 1/1/2/3;
}

.main_section_1 {
    grid-area: 2/1/3/2;
}

.main_section_2 {
    grid-area: 2/2/3/3;
}

.main_section_3 {
    grid-area: 3/1/4/3;
}

main>section {
    background-color: rgb(254, 234, 185);
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside {
    grid-area: sd;
    line-height: 14vh;
    background-color: rgb(221, 236, 203);
}

.footer {
    grid-area: ft;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
    background-color: rgb(212, 212, 212);
}

footer>section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.container {
    display: grid;
    grid-template-columns: 1fr 33.2%;
    grid-template-rows: 14vh 60vh 26vh;
    grid-template-areas:
        "hd hd"
        "main sd"
        "ft ft";
    height: 100vh;
}

@media screen and (max-width: 767px) {

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1.5fr 1.5fr;
        grid-template-areas:
            "hd"
            "main"
            "sd"
            "ft";
    }
}

@media screen and (max-width: 577px) {

    .main {
        display: flex;
        flex-direction: column;
    }

    .footer {
        grid-template-columns: 1fr 1fr;
    }

    .footer_section3,
    .footer_section4 {
        display: none;
    }

}